<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="resizer" type="ImageResizer.ResizerSection" requirePermission="false" />
    <section name="RaygunSettings" type="Mindscape.Raygun4Net.RaygunSettings, Mindscape.Raygun4Net" />
  </configSections>
  <RaygunSettings apikey="AgewYkD0JlRGBOvf+njC9Q==" />
  <system.web>
    <customErrors mode="On" defaultRedirect="~/error"/>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="1048576" />
    <sessionState timeout="60" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </modules>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <clear />
        <!--<rule name="Redirect to https" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
        </rule>-->
        <rule name="termsofuse">
          <match url="^terms-of-use$" />
          <action type="Rewrite" url="terms_of_use.aspx" />
        </rule>
        <rule name="howitworks">
          <match url="^how-it-works$" />
          <action type="Rewrite" url="howitworks.aspx" />
        </rule>
        <rule name="ourstory">
          <match url="^our-story$" />
          <action type="Rewrite" url="ourstory.aspx" />
        </rule>
        <rule name="explore">
          <match url="^explore$" />
          <action type="Rewrite" url="explore.aspx" />
        </rule>
        <rule name="faq">
          <match url="^faq$" />
          <action type="Rewrite" url="faq.aspx" />
        </rule>
        <rule name="kyc">
          <match url="^kyc$" />
          <action type="Rewrite" url="kyc.aspx" />
        </rule>
        <rule name="selectgoalcard">
          <match url="^selectgoalcard$" />
          <action type="Rewrite" url="selectgoalcard.aspx" />
        </rule>
        <rule name="forgotpassword">
          <match url="^forgotpassword$" />
          <action type="Rewrite" url="forgotpassword.aspx" />
        </rule>
        <rule name="resetform">
          <match url="^resetform$" />
          <action type="Rewrite" url="resetform.aspx" />
        </rule>
        <rule name="helpuser">
          <match url="^helpuser$" />
          <action type="Rewrite" url="helpuser.aspx" />
        </rule>
        <rule name="bankinfo">
          <match url="^bankinfo$" />
          <action type="Rewrite" url="bankinfo.aspx" />
        </rule>
        <rule name="bankinfo2">
          <match url="^bankinfo2$" />
          <action type="Rewrite" url="bankinfo2.aspx" />
        </rule>
        <rule name="bankinfo3">
          <match url="^bankinfo3$" />
          <action type="Rewrite" url="bankinfo3.aspx" />
        </rule>
        <rule name="bankinfo4">
          <match url="^bankinfo4$" />
          <action type="Rewrite" url="bankinfo4.aspx" />
        </rule>
        <rule name="claimgift">
          <match url="^claimgift$" />
          <action type="Rewrite" url="claimgift.aspx" />
        </rule>

        <rule name="userreports">
          <match url="^reports$" />
          <action type="Rewrite" url="userreports.aspx" />
        </rule>

        <rule name="usertransactions">
          <match url="^transactions$" />
          <action type="Rewrite" url="usertransactions.aspx" />
        </rule>

        <rule name="viewgoalcard">
          <match url="^viewgoalcard$" />
          <action type="Rewrite" url="viewgoalcard.aspx" />
        </rule>
        <rule name="childprofile">
          <match url="^childprofile$" />
          <action type="Rewrite" url="childprofile.aspx" />
        </rule>
        <rule name="received">
          <match url="^received$" />
          <action type="Rewrite" url="received.aspx" />
        </rule>
        <rule name="profilesettings">
          <match url="^profilesettings$" />
          <action type="Rewrite" url="profilesettings.aspx" />
        </rule>
        <rule name="usersettings">
          <match url="^settings$" />
          <action type="Rewrite" url="usersettings.aspx" />
        </rule>
        <rule name="setdone">
          <match url="^setdone$" />
          <action type="Rewrite" url="setdone.aspx" />
        </rule>
        <rule name="dashboard">
          <match url="^dashboard" />
          <action type="Rewrite" url="dashboard.aspx" />
        </rule>
        <rule name="signup">
          <match url="^signup$" />
          <action type="Rewrite" url="signup.aspx?signup=1" />
        </rule>
        <rule name="login">
          <match url="^login$" />
          <action type="Rewrite" url="signup.aspx" />
        </rule>
        <rule name="userform">
          <match url="^userform$" />
          <action type="Rewrite" url="userform.aspx" />
        </rule>
        <rule name="set goal">
          <match url="^setgoal$" />
          <action type="Rewrite" url="setgoal.aspx" />
        </rule>
        
        <rule name="set goal activated">
          <match url="^account/activated?([A-Za-z0-9_]+)$" />
          <action type="Rewrite" url="signup.aspx/{R:1}" />
        </rule>
        
        <rule name="set goal activated new">
          <match url="^account/activationpending$" />
          <action type="Rewrite" url="userform.aspx" />
        </rule>
        
        <rule name="send gift">
          <match url="^sendgift$" />
          <action type="Rewrite" url="sendgift.aspx" />
        </rule>
        <rule name="gift">
          <match url="^gift$" />
          <action type="Rewrite" url="gift.aspx" />
        </rule>
        <rule name="goal page">
          <match url="^goal$" />
          <action type="Rewrite" url="usergoal.aspx" />
        </rule>

        <rule name="autosave-success page">
          <match url="^autosave-success$" />
          <action type="Rewrite" url="autosave-success.aspx" />
        </rule>

        <rule name="gift page">
          <match url="^gift$" />
          <action type="Rewrite" url="gift.aspx" />
        </rule>
        <rule name="privacy policy">
          <match url="^privacypolicy$" />
          <action type="Rewrite" url="privacypolicy.aspx" />
        </rule>
        <rule name="goal card">
          <match url="^goalcard$" />
          <action type="Rewrite" url="goalcard.aspx" />
        </rule>
        <rule name="payment">
          <match url="^payment$" />
          <action type="Rewrite" url="cc.aspx" />
        </rule>
        <rule name="autosave">
          <match url="^autosave$" />
          <action type="Rewrite" url="autosave.aspx" />
        </rule>

        <rule name="goalcarddetails">
          <match url="^details$" />
          <action type="Rewrite" url="goalcarddetails.aspx" />
        </rule>

        <rule name="goalcardsuccess">
          <match url="^success$" />
          <action type="Rewrite" url="goalcardsuccess.aspx" />
        </rule>

        <rule name="personalizegoalcard">
          <match url="^personalize$" />
          <action type="Rewrite" url="personalizegoalcard.aspx" />
        </rule>
        <rule name="purchasegoalcard">
          <match url="^purchase$" />
          <action type="Rewrite" url="purchasegoalcard.aspx" />
        </rule>

        <rule name="selectchildgoal">
          <match url="^childgoal$" />
          <action type="Rewrite" url="selectchildgoal.aspx" />
        </rule>

        <rule name="profile page with url" stopProcessing="true">
          <match url="^user/([A-Za-z0-9_]+)" />
          <action type="Rewrite" url="userprofile.aspx/{R:1}" />
        </rule>


        <rule name="customize goalcard">
          <match url="^customize$" />
          <action type="Rewrite" url="customizegoalcard.aspx" />
        </rule>
        <rule name="customize 2 goalcard">
          <match url="^customize2$" />
          <action type="Rewrite" url="customizegoalcard2.aspx" />
        </rule>
        <rule name="thankyou">
          <match url="^thankyou$" />
          <action type="Rewrite" url="thankyou.aspx" />
        </rule>
        
        <rule name="error">
          <match url="^error$" />
          <action type="Rewrite" url="Error.aspx" />
        </rule>
        
      </rules>
    </rewrite>
  </system.webServer>
  <appSettings>
    <add key="GoogleAnalyticsID" value="UA-104357241-1" />
    <add key="FacebookPixelId" value="1530993537224033" />
    <add key="FacebookAppId" value="298095787270461" />
    <add key="FacebookAppSecret" value="c211336da166dff1e81737aa980ad3de" />
    <add key="isowUserImageUrl" value="https://isow.com/image/users/" />
    <add key="vs:EnableBrowserLink" value="false" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <resizer>
    <plugins>
      <add name="DiskCache" />
      <add name="PrettyGifs" />
    </plugins>
  </resizer>
</configuration>